<a href="https://colab.research.google.com/github/NGONGOCHA/HK2-nam1/blob/main/b%C3%A0i_t%E1%BA%ADp_pandas_1_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SERIES:**
- Một Series tương tự như một danh sách hoặc một mảng trong Python. Nó đại diện cho một loạt các giá trị (số hoặc cách khác), chẳng hạn như một cột dữ liệu. Hãy nghĩ về nó như một danh sách Python trên steroid. Nó cung cấp thêm chức năng, phương thức và toán tử, làm cho nó trở thành phiên bản mạnh hơn của danh sách.
- Khai báo thư viện: ***import pandas as pd***

Câu 1: Khởi tạo 1 Series với giá trị rỗng

In [ ]:
import pandas as pd
a = pd.Series()
print(a)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

Câu 2: Giả sử có 1 vector hàng a có kích thước (1x7) được biểu diễn trong NumPy, hãy tạo 1 series tương ứng với các giá trị được sinh ngẫu nhiên.

In [40]:
import numpy as np
import pandas as pd

b = pd.Series(np.random.randint(-10, 10, 7))
b

0   -2
1    2
2   -5
3    4
4   -3
5    2
6    8
dtype: int64

Câu 3: Giả sử có 1 vector hàng a có kích thước (1x7), hãy nhập các giá trị cho 7 phần tử này từ bàn phím và tạo series tương ứng.

In [41]:
import numpy as np
import pandas as pd

c1 = int(input("Nhập: "))
c2 = int(input("Nhập: "))
c3 = int(input("Nhập: "))
c4 = int(input("Nhập: "))
c5 = int(input("Nhập: "))
c6 = int(input("Nhập: "))
c7 = int(input("Nhập: "))

cc = [c1,c2,c3,c4,c5,c6,c7]
a = np.array(cc)
print(a)
a2 = pd.Series(a)
a2

Nhập: 7
Nhập: 9
Nhập: 8
Nhập: 0
Nhập: 3
Nhập: -6
Nhập: 7
[ 7  9  8  0  3 -6  7]

0    7
1    9
2    8
3    0
4    3
5   -6
6    7
dtype: int64

Câu 4: Giả sử có 1 vector cột có kích thước (7x1) được biểu diễn trong NumPy, hãy tạo Series tương ứng.

In [45]:
import numpy as np
import pandas as pd
a = np.random.randint(low=-10, high=10, size=(7,1))
print(a)
print(pd.Series(a.reshape(7,)))

[[ -3]
 [ -7]
 [-10]
 [  1]
 [-10]
 [ -8]
 [ -5]]
0    -3
1    -7
2   -10
3     1
4   -10
5    -8
6    -5
dtype: int64

Câu 5: Chuyển đổi dữ liệu, hãy thực hiện các yêu cầu sau:
- Chuyển 1 list thành 1 series
- Chuyển 1 tuple thành 1 series
- Chuyển 1 dictionary thành 1 series

In [46]:
import numpy as np
import pandas as pd

a = [1,2,3,4,5]
b = (6,7,8,9,10)
c = {'n':1, "u":2, "m":3, "p":4, "y":5}

aa = pd.Series(a)
print("Chuyển list thành series:\n", aa)
bb = pd.Series(b)
print("Chuyển tuple thành series:\n", bb)
cc = pd.Series(c)
print("Chuyển dictionary thành series:\n", cc)

Chuyển list thành series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64
Chuyển tuple thành series:
 0     6
1     7
2     8
3     9
4    10
dtype: int64
Chuyển dictionary thành series:
 n    1
u    2
m    3
p    4
y    5
dtype: int64

Câu 6: Mỗi phần tử của series đều gắn liền với các chỉ số (index) tương ứng, hãy tạo một series
có kích thước (1x20) với giá trị ngẫu nhiên:
- Xuất series ra màn hình
- Xuất các chỉ số của series ra màn hình
- Thay đổi cách đánh chỉ số mặc định của series từ đánh chỉ số bằng số nguyên sang các kiểu
đánh chỉ số bằng label và in kết quả ra màn hình
Gợi ý:
- Hàm loc() dùng cho chỉ số label
- Hàm iloc() dùng cho chỉ số đạng số nguyên
- Hàm ix(): dùng cho cả 2 loại chỉ số trên

In [47]:
import numpy as np
import pandas as pd
import string
import random

shi = np.random.randn(20)
shi2 = pd.Series(shi)
print(shi2) #xuất các chỉ số của series ra màn hình

label = [string.ascii_uppercase[i] for i in range(20)]
#Thay đổi cách đánh chỉ số mặc định của series từ đánh chỉ số bằng số nguyên sang các kiểu đánh chỉ số bằng label 
shi2.index = label
shi2

0     0.093185
1     0.840169
2    -0.084001
3     0.735274
4     0.520088
5    -1.002119
6    -0.403936
7     0.019524
8     1.507126
9     0.728886
10   -0.617819
11    0.983137
12   -0.227191
13    0.763787
14   -0.794472
15    1.519240
16    1.478170
17   -0.327823
18   -0.946303
19   -1.033784
dtype: float64

A    0.093185
B    0.840169
C   -0.084001
D    0.735274
E    0.520088
F   -1.002119
G   -0.403936
H    0.019524
I    1.507126
J    0.728886
K   -0.617819
L    0.983137
M   -0.227191
N    0.763787
O   -0.794472
P    1.519240
Q    1.478170
R   -0.327823
S   -0.946303
T   -1.033784
dtype: float64

In [48]:
print(shi2.loc["O"])
shi2.iloc[14]

-0.7944721183981761

-0.7944721183981761

Câu 7: Giả sử có series có kích thước (1x10), giá trị ngẫu nhiên, index được đánh từ ‘a’ trở đi,
hãy:
- Trích xuất các phần tử của Series có chỉ số là ‘a’, ‘c’, ‘e’
- Trích xuất các phần tử của Series có chỉ số từ 3 đến 6

In [49]:
import numpy as np
import pandas as pd

do = np.random.randint(low=0,high=10,size=(1,10))
la = [string.ascii_lowercase[i] for i in range(10)]
S = pd.Series(do[0],index=la)
print(S)

a    0
b    4
c    9
d    4
e    8
f    5
g    5
h    6
i    3
j    7
dtype: int64

In [55]:
print("Trích xuất các phần tử của Series có chỉ số từ 3 đến 6")
S.iloc[3:6]

Trích xuất các phần tử của Series có chỉ số từ 3 đến 6

d    4
e    8
f    5
dtype: int64

In [54]:
print("Trích xuất các phần tử của Series có chỉ số là ‘a’, ‘c’, ‘e’")
S.loc[['a', 'c', 'e']]

Trích xuất các phần tử của Series có chỉ số là ‘a’, ‘c’, ‘e’

a    0
c    9
e    8
dtype: int64