<a href="https://colab.research.google.com/github/NGONGOCHA/HK2-nam1/blob/main/%C4%90%E1%BB%92_%C3%81N_PYTHON_Ph%C3%A2n_t%C3%ADch_ANOVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**2) Sử dụng tập tin Diet_R.csv để thực hiện phân tích thống kê suy diễn - ANOVA một chiều. Tham khảo tập tin mô tả tập dữ liệu được kèm theo**

In [219]:
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import f_oneway

**ĐỌC DỮ LIỆU TỪ FILE CSV**

In [157]:
df = pd.read_csv("/content/drive/MyDrive/Classroom/Phân tích dữ liệu với Python - K2 Phần cơ sở/ĐỒ ÁN/Diet_R.csv")
df

    Person gender  Age  Height  pre.weight  Diet  weight6weeks
0       25          41     171          60     2          60.0
1       26          32     174         103     2         103.0
2        1      0   22     159          58     1          54.2
3        2      0   46     192          60     1          54.0
4        3      0   55     170          64     1          63.3
..     ...    ...  ...     ...         ...   ...           ...
73      74      1   35     183          83     3          80.2
74      75      1   49     177          84     3          79.9
75      76      1   28     164          85     3          79.7
76      77      1   40     167          87     3          77.8
77      78      1   51     175          88     3          81.9

[78 rows x 7 columns]

Vì 2 dòng đầu không có giới tính nên ta loại bỏ

In [158]:
rm = df.drop([0, 1])
x = rm.set_index('Person')
dfnew = x.sort_index()
dfnew

       gender  Age  Height  pre.weight  Diet  weight6weeks
Person
1           0   22     159          58     1          54.2
2           0   46     192          60     1          54.0
3           0   55     170          64     1          63.3
4           0   33     171          64     1          61.1
5           0   50     170          65     1          62.2
...       ...  ...     ...         ...   ...           ...
74          1   35     183          83     3          80.2
75          1   49     177          84     3          79.9
76          1   28     164          85     3          79.7
77          1   40     167          87     3          77.8
78          1   51     175          88     3          81.9

[76 rows x 6 columns]

Tập dữ liệu này chứa thông tin về 78 người sử dụng 1 trong 3 chế độ ăn kiêng

- Person: số người tham gia

- gender: giới tính, 1 = nam, 0 = nữ

- Age: tuổi

- Height: chiều cao (cm)

- pre.weight: cân nặng trước khi ăn kiêng (kg)

- Diet: chế độ ăn (3 chế độ 1,2,3)

- weight6weeks: cân nặng sau 6 tuần (kg)

***CÂU HỎI NGHIÊN CỨU***

1. Which diet was best for losing weight? - Chế độ ăn kiêng nào tốt nhất để giảm cân?

Để tìm ra chế độ ăn kiêng nào tốt nhất, chúng ta phải chia dữ liệu thành 3 nhóm ăn kiêng theo chế độ 1,2,3.

In [243]:
#chế độ 1
diet1 = dfnew[dfnew['Diet'] == 1]
#chế độ 2
diet2 = dfnew[dfnew['Diet'] == 2]
#chế độ 3
diet3 = dfnew[dfnew['Diet'] == 3]

In [244]:
giam1 = diet1['pre.weight'] - diet1['weight6weeks']
giam2 = diet2['pre.weight'] - diet2['weight6weeks']
giam3 = diet3['pre.weight'] - diet3['weight6weeks']

In [245]:
truoc = dfnew['pre.weight']
sau = dfnew['weight6weeks']

In [246]:
stats, p_value = st.ttest_ind(truoc, sau)
print("p_value:",p_value)
if p_value < 0.05:
  print('Có bằng chứng để bác bỏ giả thuyết H0')
  print('Ta chấp nhận giả thiết Ha với mức ý nghĩa là 5%')
  print('Cân nặng trung bình của trước và sau khi giảm cân khác nhau')
else:
  print("Không Có bằng chứng để bác bỏ giả thuyết H0")

p_value: 0.0028431949414180584
Có bằng chứng để bác bỏ giả thuyết H0
Ta chấp nhận giả thiết Ha với mức ý nghĩa là 5%
Cân nặng trung bình của trước và sau khi giảm cân khác nhau

**KIỂM ĐỊNH THEO PHÂN PHỐI CHUẨN**


Phát biểu giả thuyết :

Giả thuyết null:

$$H_0 : \text{Các nhóm được lấy từ phân phối chuẩn}$$

Giả thuyết thay thế:
$$H_a : \text{Các nhóm không được lấy từ phân phối chuẩn}$$

In [247]:
stats, p_value = st.shapiro(giam1)
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng để bác bỏ giả thuyết H0")
else:
  print("Không Có bằng chứng để bác bỏ giả thuyết H0")

p_value: 0.07748671621084213
Không Có bằng chứng để bác bỏ giả thuyết H0

In [248]:
stats, p_value = st.shapiro(giam2)
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng để bác bỏ giả thuyết H0")
else:
  print("Không Có bằng chứng để bác bỏ giả thuyết H0")

p_value: 0.8721737861633301
Không Có bằng chứng để bác bỏ giả thuyết H0

In [249]:
stats, p_value = st.shapiro(giam3)
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng để bác bỏ giả thuyết H0")
else:
  print("Không Có bằng chứng để bác bỏ giả thuyết H0")

p_value: 0.37203603982925415
Không Có bằng chứng để bác bỏ giả thuyết H0

**KIỂM ĐỊNH PHƯƠNG SAI**

Phát biểu giả thuyết

Giả thuyết null:

$$H_0 : \text{Các nhóm có phương sai giống nhau}$$

Giả thuyết thay thế: 

$$H_a:\text{Các nhóm có phương sai không giống nhau}$$

In [251]:
stats, p_value = st.bartlett(giam1, giam2, giam3)
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng để bác bỏ giả thuyết H0")
else:
  print("Không Có bằng chứng để bác bỏ giả thuyết H0")

p_value: 0.8966804982694925
Không Có bằng chứng để bác bỏ giả thuyết H0

**KIỂM ĐỊNH ANOVA 1 CHIỀU**


Giả thuyết null:

$$H_0 : \text{Cân nặng trước và sau khi ăn kiêng không có sự khác biệt}$$

Giả thuyết thay thế: 

$$H_a:\text{Tồn tại ít nhất sự khác biệt về cân nặng trước và sau khi ăn kiêng}$$

In [252]:
stats, p_value = st.f_oneway(giam1, giam2, giam3`)
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.006595853108669741
Có bằng chứng bác bỏ giả thuyết H0

--------> ***Như vậy cân nặng trước và sau khi giảm cân có sự khác biệt***

**ĐỂ BIẾT ĐƯỢC CÁCH GIẢM CÂN NÀO HIỆU QUẢ HƠN TA SO SÁNH SỐ CÂN NẶNG GIẢM ĐƯỢC CỦA CÁC NHÓM VỚI NHAU**

In [258]:
print('tổng cân nặng giảm được của nhóm 1')
sum(giam1)

tổng cân nặng giảm được của nhóm 1

79.19999999999999

In [259]:
print('tổng cân nặng giảm được của nhóm 2')
sum(giam2)

tổng cân nặng giảm được của nhóm 2

81.7

In [260]:
print('tổng cân nặng giảm được của nhóm 3')
sum(giam3)

tổng cân nặng giảm được của nhóm 3

138.99999999999997

---------> ***Như vậy ta thấy cách giảm cân của nhóm 3 hiệu quả hơn***

2. Are there gender differences for weight lost? - Có sự khác biệt giới tính để giảm cân không?

Để tìm xem có sự khác biệt về giới tính trong lúc giảm cân hay không chúng ta phải chia dữ liệu thành 2 nhóm theo giới tính nam và nữ

In [303]:
female = dfnew[dfnew['gender'] == 0]
male = dfnew[dfnew['gender'] == 1]

In [304]:
print(female)

Empty DataFrame
Columns: [gender, Age, Height, pre.weight, Diet, weight6weeks]
Index: []

In [279]:
male

Empty DataFrame
Columns: [gender, Age, Height, pre.weight, Diet, weight6weeks]
Index: []

In [273]:
male['pre.weight'] - male['weight6weeks']

Series([], dtype: float64)